.boxes {
    width: 200px;
    height: 200px;
}

#box-one {
    background-color: gold;
    padding: 20px;
    border: 10px solid black;
}


#box-two {
    background-color: cadetblue;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

#box-three {
    background-color: palevioletred;
    border: 10px solid black;
    margin-left: 40px;
}

p {
    margin: 0;
}
